.btn-container {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;

    &--center {
        text-align: center;
    }

    &--about {
        font-size: 18px;
    }

    @media (max-width: 479px) {
        font-size: 12px;
    }
}

.btn {
    display: inline-block;
    padding: 1em 1.5em;

    white-space: nowrap;
    line-height: 1;
    color: $white;
    background-color: $blue;
    border: 1px solid transparent;
    text-transform: uppercase;

    transition: background-color .1s ease-out, color .1s ease-out, border-color .1s ease-out,;

    &:hover {
        text-decoration: none;
        background-color: $white;
        color: $blue;
        border-color: $blue;
    } 

    &--border-rad {
        border-radius: 0.28rem;
    }

    &--models {
        color: $blue;
        background-color: white;
        border: 1px solid $black;
        border-radius: 0.28rem;

        &:hover {
            background-color: $black;
            color: $white;
            border-color: $black;
        }
    }

    &--about {
        padding: 1em 4.9em;
    }
}