.footer{
    padding: 80px 0;

    @media (max-width: 767px) {
        padding: 60px 0;
    }
    
    @media (max-width: 479px) {
        padding: 40px 0;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    
    @media (max-width: 767px) {
        margin-bottom: -50px;
        
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.footer__col {
    max-width: 190px;
    margin-right: 70px;

    &:last-child {
        margin-right: 0;
    }

    &--info {
        max-width: 250px;
    }

    @media (max-width: 767px) {
        margin-bottom: 50px;

        max-width: none;
        width: 45%;
        margin-right: 0;
        

        &--info {
            margin-top: 0;
            max-width: none;
        }
    }

    @media (max-width: 479px) {
        &--info, &--news {
            width: 100%;
        }
    }
}

.footer__title {
    margin-bottom: 30px;

    color: $blue;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;

    &--info {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        text-transform: unset;
    }
    
    &--contact {
        margin-bottom: 20px;

        color: $black;
        font-style: normal;
    }
}

.footer__link {
    display: block;
    margin-bottom: 15px;

    color: $black;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    &:last-child {
        margin-bottom: 0;
    }

    &--info {
        margin-bottom: 0;
    }

    @media (max-width: 479px) {
        &--news {
            margin-bottom: 20px;
        }
    }
}

.footer__contacts {
    margin-top: 20px;
}

.footer__btn {
    margin-top: 40px;
}

.footer__logo {
    width: 135px;
    height: auto;

    @media (max-width: 479px) {
        width: 90px;
    }
}

.footer__logo-img {
    display: block;
    width: 100%;
    min-height: 56px;
}
